Repository univ-lehavre/k8s: changes, and which lefthook commands are due for each by the changed paths.
All: ansible-lint, yamllint, markdownlint, trailing-whitespace, merge-conflicts

ansible-lint:
  run: ansible-lint --profile=production --force-color {staged_files}
  stage_fixed: true

yamllint:
  run: "if command -v yamllint >/dev/null 2>&1; then\n  yamllint -c .yamllint --strict {staged_files}\nelse\n  echo \"‚ö†Ô∏è  yamllint not installed (optional). Install: pip install yamllint\"\nfi\n"

markdownlint:
  run: "if command -v markdownlint-cli2 >/dev/null 2>&1; then\n  markdownlint-cli2 {staged_files}\nelse\n  echo \"‚ö†Ô∏è  markdownlint-cli2 not installed. Install: brew install markdownlint-cli2\"\nfi\n"

trailing-whitespace:
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Trailing whitespace found in the above files\"\n  exit 1\nfi\n"

merge-conflicts:
  run: "if grep -rn '<''<<''<<<< HEAD' {staged_files}; then\n  echo \"‚ùå Merge conflict markers found\"\n  exit 1\nfi\n"

fix: replace BackendTrafficPolicy with HTTPRoute for HTTPS redirect
  ansible/roles/infrastructure/envoy_gateway/templates/backend-traffic-policy.yml.j2
Due: merge-conflicts

fix: migrate databases and keycloak from Helm charts to Kubernetes operators
  ansible/inventories/local/group_vars/all.yml
  ansible/inventories/production/group_vars/all.yml
  ansible/inventories/staging/group_vars/all.yml
  ansible/playbooks/phase-04-databases.yml
  ansible/roles/devops/gitea/defaults/main.yml
  ansible/roles/infrastructure/envoy_gateway/defaults/main.yml
  ansible/roles/k3s/agent/defaults/main.yml
  ansible/roles/k3s/k3d/defaults/main.yml
  ansible/roles/k3s/server/defaults/main.yml
  ansible/roles/platform/keycloak/defaults/main.yml
  ansible/roles/platform/keycloak/tasks/main.yml
  ansible/roles/platform/keycloak/templates/external-secret.yml.j2
  ansible/roles/platform/keycloak/templates/keycloak-realm-import.yml.j2
  ansible/roles/platform/keycloak/templates/keycloak.yml.j2
  ansible/roles/platform/keycloak/templates/values.yml.j2
  ansible/roles/platform/mariadb/defaults/main.yml
  ansible/roles/platform/mariadb/tasks/main.yml
  ansible/roles/platform/mariadb/templates/mariadb.yml.j2
  ansible/roles/platform/mariadb/templates/values.yml.j2
  ansible/roles/platform/postgresql/defaults/main.yml
  ansible/roles/platform/postgresql/tasks/create_database.yml
  ansible/roles/platform/postgresql/tasks/main.yml
  ansible/roles/platform/postgresql/templates/cluster.yml.j2
  ansible/roles/platform/postgresql/templates/values-standalone.yml.j2
  ansible/roles/platform/postgresql/templates/values.yml.j2
  ansible/roles/platform/redis/defaults/main.yml
  ansible/roles/platform/redis/tasks/main.yml
  ansible/roles/platform/redis/templates/redis-failover.yml.j2
  ansible/roles/platform/redis/templates/values.yml.j2
  ansible/roles/security/backup_offsite/templates/velero-values.yml.j2
  ansible/roles/services/nextcloud/defaults/main.yml
  ansible/vars/dependency_graph.yml
  ansible/vars/helm_versions.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

refactor: add version check URLs and fix flipt categorization
  ansible/roles/services/flipt/defaults/main.yml
  ansible/vars/versions.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

docs: add cluster access instructions to README
  README.md
Due: markdownlint, trailing-whitespace, merge-conflicts

fix: wait for TLS certificate before creating Gateway
  ansible/roles/infrastructure/envoy_gateway/tasks/main.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

fix: resolve staging deploy blockers (callback, longhorn, vault)
  ansible.cfg
  ansible/roles/infrastructure/longhorn/tasks/main.yml
  ansible/roles/platform/vault/defaults/main.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

fix: add verbose output to reset:staging and use selfsigned TLS issuer
  Taskfile.yml
  ansible/inventories/staging/group_vars/all.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

refactor: modernize Taskfile with consistent namespaces and extracted scripts
  Taskfile.yml
  docs/CONTRIBUTING.md
  docs/deployment-priority.md
  scripts/ansible-run.sh
  scripts/ensure-k3d.sh
  scripts/reset-cluster.sh
Due: ansible-lint, yamllint, markdownlint, trailing-whitespace, merge-conflicts

fix: deploy cert-manager before envoy_gateway to avoid gateway timeout
  ansible/playbooks/phase-02-k3s-core.yml
  ansible/vars/dependency_graph.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

style: improve task help with grouped categories and add icons to reset script
  Taskfile.yml
  scripts/reset-cluster.sh
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

fix: create GatewayClass explicitly (no longer included in Helm chart v1.7.0)
  ansible/roles/infrastructure/envoy_gateway/tasks/main.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

fix: migrate deprecated APIs, fix OIDC endpoints, and pin chart versions
  .pre-commit-config.yaml
  ansible/roles/infrastructure/envoy_gateway/templates/reference-grant.yml.j2
  ansible/roles/infrastructure/local_path/defaults/main.yml
  ansible/roles/infrastructure/local_path/tasks/main.yml
  ansible/roles/platform/external_secrets/templates/clustersecretstore.yml.j2
  ansible/roles/platform/keycloak/tasks/main.yml
  ansible/roles/platform/keycloak/templates/external-secret.yml.j2
  ansible/roles/security/secret_rotation/tasks/main.yml
  ansible/roles/security/secret_rotation/templates/external-secret.yml.j2
  ansible/roles/services/mattermost/templates/values.yml.j2
  ansible/roles/services/nextcloud/templates/values.yml.j2
  ansible/vars/dependency_graph.yml
  ansible/vars/versions.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

fix: revert ReferenceGrant to v1beta1 (CRD not yet served as v1)
  ansible/roles/infrastructure/envoy_gateway/templates/reference-grant.yml.j2
Due: merge-conflicts

fix: replace wildcard namespace in ReferenceGrant with explicit list
  ansible/roles/infrastructure/envoy_gateway/defaults/main.yml
  ansible/roles/infrastructure/envoy_gateway/templates/reference-grant.yml.j2
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

fix: disable createDefaultDiskLabeledNodes for Longhorn
  ansible/roles/infrastructure/longhorn/defaults/main.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

fix: move keycloak_host/realm to group_vars for cross-role availability
  ansible/inventories/local/group_vars/all.yml
  ansible/inventories/production/group_vars/all.yml
  ansible/inventories/staging/group_vars/all.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

feat: add force redeploy flag to deploy.yml
  ansible/playbooks/deploy.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

refactor: always redeploy target, only skip healthy dependencies
  ansible/playbooks/deploy.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

Path conditions:
  ansible-lint: any of: *.{yml,yaml}, but not: (^\.git/|^\.cache/|^molecule/|^venv/)
  yamllint: any of: *.{yml,yaml}, but not: (^\.git/|^\.cache/|^molecule/|^venv/)
  markdownlint: any of: *.md, but not: (^\.git/|^node_modules/|^venv/)
  trailing-whitespace: any of: *.{yml,yaml,md,sh,txt}
  merge-conflicts: any of: *, but not: (lefthook\.yml$)
