Repository univ-lehavre/k8s: changes, and which lefthook commands are due for each by the changed paths.
All: ansible-lint, yamllint, markdownlint, trailing-whitespace, merge-conflicts

ansible-lint:
  run: ansible-lint --profile=production --force-color {staged_files}
  stage_fixed: true

yamllint:
  run: "if command -v yamllint >/dev/null 2>&1; then\n  yamllint -c .yamllint --strict {staged_files}\nelse\n  echo \"‚ö†Ô∏è  yamllint not installed (optional). Install: pip install yamllint\"\nfi\n"

markdownlint:
  run: "if command -v markdownlint-cli2 >/dev/null 2>&1; then\n  markdownlint-cli2 {staged_files}\nelse\n  echo \"‚ö†Ô∏è  markdownlint-cli2 not installed. Install: brew install markdownlint-cli2\"\nfi\n"

trailing-whitespace:
  run: "if grep -n '[[:space:]]$' {staged_files}; then\n  echo \"‚ùå Trailing whitespace found in the above files\"\n  exit 1\nfi\n"

merge-conflicts:
  run: "if grep -rn '<''<<''<<<< HEAD' {staged_files}; then\n  echo \"‚ùå Merge conflict markers found\"\n  exit 1\nfi\n"

refactor(docs): consolidate linting docs into docs/CONTRIBUTING.md
  LINTING.md
  README-LINTING.md
  README.md
  docs/CONTRIBUTING.md
  docs/audits/2026-02-03-linting-exceptions.md
Due: markdownlint, trailing-whitespace, merge-conflicts

refactor(docs): merge roadmaps into audit sections, remove roadmaps/
  README.md
  docs/audits/2026-02-03-code-documentation-coherence.md
  docs/audits/2026-02-03-documentation-drift-audit.md
  docs/ecrin-deployment-guide.md
  docs/roadmaps/2026-02-03-documentation-coherence-remediation.md
Due: markdownlint, trailing-whitespace, merge-conflicts

chore(docs): remove obsolete audit reports
  docs/audits/2026-02-03-code-documentation-coherence.md
  docs/audits/2026-02-03-code-review.md
  docs/audits/2026-02-03-documentation-drift-audit.md
Due: markdownlint, trailing-whitespace, merge-conflicts

docs: add prioritized deployment guide with milestones
  README.md
  docs/deployment-priority.md
Due: markdownlint, trailing-whitespace, merge-conflicts

Update README.md
  README.md
Due: markdownlint, trailing-whitespace, merge-conflicts

docs: fix deployment guide coherence and dependency accuracy
  docs/deployment-priority.md
  docs/ecrin-deployment-guide.md
Due: markdownlint, trailing-whitespace, merge-conflicts

feat(authelia): migrate secrets to Vault + External Secrets Operator
  ansible/roles/platform/authelia/defaults/main.yml
  ansible/roles/platform/authelia/tasks/main.yml
  ansible/roles/platform/authelia/templates/external-secret.yml.j2
  ansible/roles/security/secret_rotation/defaults/main.yml
  docs/deployment-priority.md
Due: ansible-lint, yamllint, markdownlint, trailing-whitespace, merge-conflicts

feat: add automatic dependency resolution for component deployment
  Taskfile.yml
  ansible/ansible.cfg
  ansible/filter_plugins/atlas_deps.py
  ansible/playbooks/deploy.yml
  ansible/tasks/check_component.yml
  ansible/vars/dependency_graph.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

docs: align dependency tables with graph, add monitoring+security components
  ansible/vars/dependency_graph.yml
  docs/deployment-priority.md
Due: ansible-lint, yamllint, markdownlint, trailing-whitespace, merge-conflicts

feat: enforce Authelia forward auth on all public routes
  ansible/roles/devops/argocd/defaults/main.yml
  ansible/roles/devops/argocd/templates/httproute.yml.j2
  ansible/roles/devops/gitea/defaults/main.yml
  ansible/roles/devops/gitea/templates/httproute.yml.j2
  ansible/roles/monitoring/kube_prometheus/defaults/main.yml
  ansible/roles/monitoring/kube_prometheus/templates/grafana-httproute.yml.j2
  ansible/roles/platform/authelia/defaults/main.yml
  ansible/roles/platform/vault/defaults/main.yml
  ansible/roles/platform/vault/templates/httproute.yml.j2
  ansible/roles/services/ecrin/defaults/main.yml
  ansible/roles/services/ecrin/templates/httproute.yml.j2
  ansible/roles/services/flipt/defaults/main.yml
  ansible/roles/services/flipt/templates/httproute.yml.j2
  ansible/roles/services/mattermost/defaults/main.yml
  ansible/roles/services/mattermost/templates/httproute.yml.j2
  ansible/roles/services/nextcloud/defaults/main.yml
  ansible/roles/services/nextcloud/templates/httproute.yml.j2
  ansible/roles/services/onlyoffice/defaults/main.yml
  ansible/roles/services/onlyoffice/templates/httproute.yml.j2
  ansible/roles/services/redcap/templates/httproute.yml.j2
  docs/deployment-priority.md
Due: ansible-lint, yamllint, markdownlint, trailing-whitespace, merge-conflicts

docs: add comprehensive security overview with auth, secrets and encryption documentation
  docs/security-overview.md
Due: markdownlint, trailing-whitespace, merge-conflicts

ci: add GitHub Actions workflow for linting
  .github/workflows/ci.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

fix: resolve yamllint line-length errors and simplify yaml-fix task
  Taskfile.yml
  ansible/roles/infrastructure/cilium/tasks/install_cli.yml
  ansible/roles/platform/authelia/tasks/main.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

fix: resolve CI lint errors (yaml commas, line-length, markdown)
  ansible/roles/common/hardening/defaults/main.yml
  ansible/roles/common/hardening/tasks/password_policy.yml
  ansible/roles/infrastructure/cilium/tasks/install_cli.yml
  ansible/roles/infrastructure/envoy_gateway/tasks/main.yml
  ansible/roles/k3s/k3d/tasks/main.yml
  ansible/roles/platform/authelia/tasks/main.yml
  ansible/roles/security/image_scanning/tasks/main.yml
  ansible/roles/security/secret_rotation/tasks/main.yml
  ansible/roles/services/flipt/tasks/main.yml
  docs/deployment-priority.md
  docs/security-overview.md
Due: ansible-lint, yamllint, markdownlint, trailing-whitespace, merge-conflicts

ci: add automatic release workflow on merge to main
  .github/workflows/release.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

docs: simplify README, link to detailed documentation
  .gitignore
  README.md
Due: markdownlint, trailing-whitespace, merge-conflicts

feat: add VitePress documentation site with GitHub Pages deployment
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .gitignore
  .markdownlint.yaml
  .yamllint
  docs/.vitepress/config.mts
  docs/index.md
  package-lock.json
  package.json
Due: ansible-lint, yamllint, markdownlint, trailing-whitespace, merge-conflicts

feat: add Keycloak IAM role, migrate SecurityPolicy to OIDC, restructure docs
  ansible/inventories/local/group_vars/all.yml
  ansible/inventories/production/group_vars/all.yml
  ansible/inventories/staging/group_vars/all.yml
  ansible/playbooks/phase-05-services.yml
  ansible/roles/devops/argocd/templates/httproute.yml.j2
  ansible/roles/devops/gitea/templates/httproute.yml.j2
  ansible/roles/monitoring/hubble_ui/templates/httproute.yml.j2
  ansible/roles/platform/keycloak/defaults/main.yml
  ansible/roles/platform/keycloak/tasks/main.yml
  ansible/roles/platform/keycloak/templates/external-secret.yml.j2
  ansible/roles/platform/keycloak/templates/httproute.yml.j2
  ansible/roles/platform/keycloak/templates/values.yml.j2
  ansible/roles/platform/vault/templates/httproute.yml.j2
  ansible/roles/services/ecrin/defaults/main.yml
  ansible/roles/services/ecrin/templates/httproute.yml.j2
  ansible/roles/services/flipt/templates/httproute.yml.j2
  ansible/roles/services/mattermost/defaults/main.yml
  ansible/roles/services/mattermost/templates/httproute.yml.j2
  ansible/roles/services/nextcloud/defaults/main.yml
  ansible/roles/services/nextcloud/templates/httproute.yml.j2
  ansible/roles/services/onlyoffice/templates/httproute.yml.j2
  ansible/roles/services/redcap/templates/httproute.yml.j2
  ansible/vars/dependency_graph.yml
  ansible/vars/helm_versions.yml
  ansible/vars/secrets_mapping.yml
  docs/.vitepress/config.mts
  docs/authentication.md
  docs/authorization.md
  docs/index.md
  docs/network-flows.md
  docs/secrets-encryption.md
  docs/security-overview.md
Due: ansible-lint, yamllint, markdownlint, trailing-whitespace, merge-conflicts

refactor: replace Authelia references with Keycloak/SSO across codebase
  ansible/roles/devops/argocd/defaults/main.yml
  ansible/roles/devops/argocd/templates/httproute.yml.j2
  ansible/roles/devops/argocd/templates/rbac-configmap.yml.j2
  ansible/roles/devops/gitea/defaults/main.yml
  ansible/roles/devops/gitea/templates/httproute.yml.j2
  ansible/roles/devops/gitea/templates/values.yml.j2
  ansible/roles/monitoring/hubble_ui/defaults/main.yml
  ansible/roles/monitoring/kube_prometheus/defaults/main.yml
  ansible/roles/monitoring/kube_prometheus/templates/grafana-httproute.yml.j2
  ansible/roles/monitoring/kube_prometheus/templates/values.yml.j2
  ansible/roles/platform/vault/defaults/main.yml
  ansible/roles/platform/vault/templates/httproute.yml.j2
  ansible/roles/services/ecrin/defaults/main.yml
  ansible/roles/services/flipt/defaults/main.yml
  ansible/roles/services/mattermost/defaults/main.yml
  ansible/roles/services/mattermost/templates/httproute.yml.j2
  ansible/roles/services/mattermost/templates/values.yml.j2
  ansible/roles/services/nextcloud/defaults/main.yml
  ansible/roles/services/nextcloud/templates/httproute.yml.j2
  ansible/roles/services/onlyoffice/defaults/main.yml
  ansible/roles/services/onlyoffice/templates/httproute.yml.j2
  ansible/roles/services/redcap/defaults/main.yml
  ansible/roles/services/redcap/templates/httproute.yml.j2
  docs/authentication.md
  docs/authorization.md
  docs/deployment-priority.md
  docs/network-flows.md
Due: ansible-lint, yamllint, markdownlint, trailing-whitespace, merge-conflicts

refactor: make SSO references conditional for Keycloak/Authelia
  README.md
  ansible/README.md
  ansible/roles/devops/argocd/templates/values.yml.j2
  ansible/roles/devops/gitea/defaults/main.yml
  ansible/roles/infrastructure/envoy_gateway/defaults/main.yml
  ansible/roles/monitoring/kube_prometheus/defaults/main.yml
  ansible/vars/dependency_graph.yml
  docs/deployment-priority.md
Due: ansible-lint, yamllint, markdownlint, trailing-whitespace, merge-conflicts

fix: harden custom deployments and improve CI validation
  .github/workflows/ci.yml
  ansible/roles/platform/keycloak/templates/values.yml.j2
  ansible/roles/security/kyverno/defaults/main.yml
  ansible/roles/services/ecrin/tasks/main.yml
  ansible/roles/services/ecrin/templates/deployment.yml.j2
  ansible/roles/services/flipt/tasks/main.yml
  ansible/roles/services/flipt/templates/deployment.yml.j2
  ansible/roles/services/onlyoffice/tasks/main.yml
  ansible/roles/services/onlyoffice/templates/deployment.yml.j2
  ansible/roles/services/redcap/tasks/main.yml
  ansible/roles/services/redcap/templates/deployment.yml.j2
  ansible/vars/helm_versions.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

docs: document secret rotation lifecycle and Vault Database Secrets Engine
  docs/secrets-encryption.md
Due: markdownlint, trailing-whitespace, merge-conflicts

feat: add generate-env.sh for automated secret generation
  .gitignore
  ansible/generate-env.sh
Due: trailing-whitespace, merge-conflicts

fix: add staging server vars to env config, remove hardcoded domain
  ansible/.env.example
  ansible/generate-env.sh
  ansible/inventories/staging/group_vars/all.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

fix: use personal noreply email in release workflow
  .github/workflows/release.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

ci: add branch up-to-date check on pull requests
  .github/workflows/ci.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

chore: bump version to v0.4.1
  package-lock.json
  package.json
Due: merge-conflicts

feat: separate .env files per environment and improve deployment workflow
  .gitignore
  Taskfile.yml
  ansible/.backup.env.example
  ansible/.env.example
  ansible/.prod.env.example
  ansible/.smtp.env.example
  ansible/.staging.env.example
  ansible/ENV_FILES_README.md
  ansible/generate-env.sh
Due: ansible-lint, yamllint, markdownlint, trailing-whitespace, merge-conflicts

fix: update ansible callback plugin to use modern format
  ansible/ansible.cfg
Due: merge-conflicts

fix: disable privilege escalation for local k3d environment
  ansible/inventories/local/hosts.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

chore: add standard metadata fields to package.json
  package.json
Due: merge-conflicts

fix: k3d auto-start, health check, vault auto-init and cilium k3d compatibility
  .gitignore
  Taskfile.yml
  ansible/playbooks/deploy.yml
  ansible/roles/infrastructure/cilium/templates/values.yml.j2
  ansible/roles/platform/vault/tasks/main.yml
  ansible/tasks/check_component.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

fix: multi-host deploy.yml for staging/production with kubeconfig handling
  ansible/ansible.cfg
  ansible/inventories/local/hosts.yml
  ansible/playbooks/deploy.yml
  ansible/roles/k3s/server/tasks/main.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

fix: remote deployment improvements for staging environment
  .gitignore
  ansible/roles/infrastructure/cilium/tasks/install_cli.yml
  ansible/roles/infrastructure/cilium/tasks/main.yml
  ansible/roles/k3s/server/defaults/main.yml
  ansible/roles/k3s/server/tasks/main.yml
  ansible/roles/k3s/server/templates/config.yaml.j2
  ansible/tasks/check_component.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

fix: exclude kubeconfig files from ansible-lint
  .ansible-lint
Due: merge-conflicts

chore: bump version to v0.5.0
  package-lock.json
  package.json
Due: merge-conflicts

fix: resolve helm deploy errors for staging infrastructure
  Taskfile.yml
  ansible/playbooks/phase-02-k3s-core.yml
  ansible/roles/infrastructure/cert_manager/tasks/main.yml
  ansible/roles/infrastructure/cert_manager/templates/values.yml.j2
  ansible/roles/infrastructure/envoy_gateway/tasks/main.yml
  ansible/roles/infrastructure/envoy_gateway/templates/backend-traffic-policy.yml.j2
  ansible/roles/infrastructure/envoy_gateway/templates/gateway.yml.j2
  ansible/roles/infrastructure/longhorn/defaults/main.yml
  ansible/roles/k3s/server/handlers/main.yml
Due: ansible-lint, yamllint, trailing-whitespace, merge-conflicts

Path conditions:
  ansible-lint: any of: *.{yml,yaml}, but not: (^\.git/|^\.cache/|^molecule/|^venv/)
  yamllint: any of: *.{yml,yaml}, but not: (^\.git/|^\.cache/|^molecule/|^venv/)
  markdownlint: any of: *.md, but not: (^\.git/|^node_modules/|^venv/)
  trailing-whitespace: any of: *.{yml,yaml,md,sh,txt}
  merge-conflicts: any of: *, but not: (lefthook\.yml$)
